[submodule "janus/CSApprox"]
	path = janus/CSApprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "janus/commentary"]
	path = janus/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "janus/file-line"]
	path = janus/file-line
	url = git://github.com/bogado/file-line.git
[submodule "janus/mml"]
	path = janus/mml
	url = git://github.com/stephencelis/vim-mml.git
[submodule "janus/numbers"]
	path = janus/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "janus/tomorrow-theme"]
	path = janus/tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "janus/vimux"]
	path = janus/vimux
	url = git://github.com/benmills/vimux.git
