[submodule "janus/CSApprox"]
	path = janus/CSApprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "janus/commentary"]
	path = janus/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "janus/file-line"]
	path = janus/file-line
	url = git://github.com/bogado/file-line.git
[submodule "janus/mml"]
	path = janus/mml
	url = git://github.com/stephencelis/vim-mml.git
[submodule "janus/numbers"]
	path = janus/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "janus/tomorrow-theme"]
	path = janus/tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "janus/gitgutter"]
	path = janus/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "janus/ag"]
	path = janus/ag
	url = git://github.com/rking/ag.vim.git
[submodule "janus/rbenv"]
	path = janus/rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "janus/dispatch"]
	path = janus/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "janus/tbone"]
	path = janus/tbone
	url = git://github.com/tpope/vim-tbone.git
[submodule "janus/bundler"]
	path = janus/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "janus/jade"]
	path = janus/jade
	url = git://github.com/digitaltoad/vim-jade.git
